*{
    margin: 0;
    padding: 0;
    background: #fbebcb;
    box-sizing: border-box;
}
.container{
    width: 1300px;
    /* width: 1440px; */
    background-image: url(./assets/img/Rectángulo-1.png);
}
.logo{
    padding-top: 65px;
    margin-left: 70px;
}
.row{
    display: flex;
}
.ml-a{
    margin-left: auto;
}
.toolbox{
    margin-top: 90px;
    padding-top: 36px;
    background-color: #8e425c;
    /* display: inline-block; */
    border-radius: 30px;
}
.navbar{
    display: flex;
    background-color:#8e425c;
}
.navbar li{
    background-color:#8e425c;
    display: inline-block;
    padding:0px 65px 0px 18px;
    text-align: center;
    
}
.navbar li a{
    padding-top: 20px;
text-decoration: none;
    background-color:#8e425c;
    /* display: inline-block; */
color: #fbebcb;
}